# Funções - lambda, list comprehension, map, filter e reduce

## Funções Lambda
- Permite a criação de funções anônimas, ou seja, sem necessidade de dar um nome para ela.

In [ ]:
preco = 1000

# Função normal
def calcular_imposto(preco):
    return preco * 0.3
print(calcular_imposto(preco))

print()

# Função Lambda
calcular_imposto2 = lambda x: x * 0.3
print(calcular_imposto2(preco))

300.0

300.0

In [ ]:
# map -> aplica uma função para cada valor da lista
precos = [100, 500, 10, 25]
impostos = list(map(lambda x: x * 0.3, precos))
print(impostos)

[30.0, 150.0, 3.0, 7.5]

## List comprehension
- A compreensão de listas é uma maneira elegante de definir e criar listas com base em listas existentes.
- A compreensão de lista é geralmente mais compacta e rápida do que as funções e loops normais para a criação de listas.
- No entanto, devemos evitar escrever compreensões de lista muito longas em uma linha para garantir que o código seja fácil de usar.

In [ ]:
# Forma mais comum
lista_comum = []
for numero in range(1, 11):
    lista_comum.append(numero)
print(f'Sem List comprehension: {lista_comum}')

# usando list comprehension
lista_comprehension = [numero for numero in range(1, 11)]
print(f'Com List comprehension: {lista_comprehension}')

# usando list comprehension com operador
lista_comprehension2 = [numero * 2 for numero in range(1, 11)]
print(f'List comprehension * 2: {lista_comprehension}')

Sem List comprehension: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Com List comprehension: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List comprehension * 2: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# mapeamento de dados em list comprehension
produtos = [
    {'nome': 'p1', 'preco': 20},
    {'nome': 'p2', 'preco': 10},
    {'nome': 'p3', 'preco': 30}
]

novos_produtos = [produto['nome'] for produto in produtos]
print('Nome: ', *novos_produtos, sep='\n')

Nome:
p1
p2
p3

In [ ]:
# filtro em list comprehension
lista = [n for n in range(1, 11) if n < 5]
print(lista)

[1, 2, 3, 4]

In [ ]:
precos = [500, 1500, 2000, 100, 35]

precos_dobrado = [preco * 2 for preco in precos]
print(precos_dobrado)

[1000, 3000, 4000, 200, 70]

In [ ]:
imposto = [preco * 0.5 for preco in precos if preco > 1000]
print(imposto)

[750.0, 1000.0]

## map
- Permite a criação de funções anônimas, ou seja, sem necessidade de dar um nome para ela.

In [ ]:
precos = [1000, 1500, 1250, 2500]

def adicionar_imposto(preco):
    return preco * 2

# para cada valor da lista, aplique a função 'adicionar_imposto'.
# o primeiro parametro do map recebe uma funcao
# o segundo parametro do map é a lista
precos_com_imposto = list(map(adicionar_imposto, precos))
# precos_com_imposto = list(map(lambda x: x * 2, precos))
print(precos_com_imposto)

[2000, 3000, 2500, 5000]

In [ ]:
import pandas as pd
import numpy as np

produtos = ['Produto A', 'Produto B', 'Produto C', 'Produto D', 'Produto E', 'Produto F', 'Produto G', 'Produto H', 'Produto I', 'Produto J']
quantidades = np.random.randint(1, 10, size=10)
precos = np.random.randint(200, 1000, size=10)
datas = pd.date_range('2023-04-01', periods=10, freq='D')

df = pd.DataFrame({'Produto': produtos, 'Quantidade Vendida': quantidades, 'Preço Unitário': precos, 'Data da Venda': datas})


# criar uma nova coluna aplicando o dobro do valor do preço unitário
df['dobro_unitario'] = list(map(lambda x: x * 2, df['Preço Unitário']))

# df['dobro_unitario'] = df['Preço Unitário'].map(lambda x: x * 2)

df.head(5)

     Produto  Quantidade Vendida  Preço Unitário Data da Venda  dobro_unitario
0  Produto A                   7             818    2023-04-01            1636
1  Produto B                   8             201    2023-04-02             402
2  Produto C                   9             949    2023-04-03            1898
3  Produto D                   9             375    2023-04-04             750
4  Produto E                   1             325    2023-04-05             650

## filter
- Cria uma lista de elementos para os quais uma função retorna true.

In [ ]:
precos_produtos = [100, 500, 300, 450, 600, 900, 550]

maior_500 = list(filter(lambda x:  x > 500, precos_produtos))
print(maior_500)

[600, 900, 550]

#### reduce
- Aplica outra função sequencialmente e cumulativamente a uma lista (iterador), e "reduz" a lista a um só resultado final.

In [ ]:
from functools import reduce

# params.: acumulador, valor atual
numeros = [100, 20, 10, 300, 550, 70, 40]

soma_numeros = reduce(lambda acumulador, valor_atual: acumulador + valor_atual, numeros)
print(soma_numeros)

1090