# String em Python

In [ ]:
email = 'murilo123@hotmail.com'
nome = 'Murilo Oliveira'

#### len() -> Retorna o tamanho de uma string

In [ ]:
print(f'O tamanho da String "{email}" é de {len(email)} caracteres.')
print(f'O tamanho da String "{nome}" é de {len(nome)} caracteres.')

O tamanho da String "murilo123@hotmail.com" é de 21 caracteres.
O tamanho da String "Murilo Oliveira" é de 15 caracteres.

#### string[indice] -> Retorna uma letra de uma string

In [ ]:
print(nome,'\n')
print(nome[0]) # retorna a primeira letra da variavel nome
print(nome[1]) # retorna a segunda letra da variavel nome
print(nome[-1]) # retorna a ultima letra da variavel nome
print(nome[-2]) # retorna a penultima letra da variavel nome

Murilo Oliveira

M
u
a
r

#### string[:indice] -> Retorna parte de uma string
#### string[indice:] -> Retorna parte de uma string
#### string[:] -> Retorna toda a string

In [ ]:
# retorna murilo123@hotmail.co
print(email[:-1])

# retorna mu
print(email[:2])

# retorna @hotmail.com
print(email[10:])

# retorna .com
print(email[17:])

murilo123@hotmail.co
mu
hotmail.com
.com

## Operações com String

In [ ]:
faturamento = 1000
custo = 500
lucro = faturamento - custo

#### str() -> transforma número em string

In [ ]:
print('O faturamento da loja foi de: ' + str(faturamento))

O faturamento da loja foi de: 1000

#### format() -> formata o(s) valor(es) especificado(s) e os insere dentro do espaço reservado da string.

In [ ]:
print('O faturamento foi de {}. O custo foi de {} e o lucro foi de {}'.format(faturamento, custo, lucro))

# e se eu quiser repetir uma das variavel?
print('O faturamento foi de {0}. O custo foi de {1} e o lucro foi de {2}.\nO faturamento de {0} foi o maior entre todos os meses.'.format(faturamento, custo, lucro))

O faturamento foi de 1000. O custo foi de 500 e o lucro foi de 500
O faturamento foi de 1000. O custo foi de 500 e o lucro foi de 500.
O faturamento de 1000 foi o maior entre todos os meses.

#### in -> Verifica se existe um caractere especifico dentro de uma sintr

In [ ]:
print('@' in 'murilo@hotmail.com')
print('@' in 'murilo#hotmail.com')

True
False

## Métodos de String em Python

#### capitalize() -> Coloca a primeira letra da string em maiuscula e o resto em minuscula

In [ ]:
nome2 = 'murilo Oliveira tEste'
print(nome2.capitalize())

Murilo oliveira teste

#### title() -> Coloca a 1ª letra de cada palavra em maiúscula

In [ ]:
print(nome2.title())

Murilo Oliveira Teste

#### casefold() -> retorna toda a string em minuscula

In [ ]:
print(nome2.casefold())

murilo oliveira teste

#### count() -> Retorna quantas vezes uma letra aparece na string
- OBS: é Case sensitivity

In [ ]:
print(nome2.count('i'))
print(nome2.count('o'))

3
1

#### endswith() -> retorna True se a string terminar com o valor especificado, caso contrário, False.

In [ ]:
print(nome2.endswith('e'))
print(nome2.endswith('teste'))

True
False

#### find() -> retorna o índice de primeira ocorrência da substring (se encontrada).<br> Se não for encontrado, ele retorna -1

In [ ]:
print(nome2.find('i'))
print(nome2.find('a'))

3
14

#### isalnum() -> retorna True se todos os caracteres forem alfanuméricos, significando letra do alfabeto (a-z) e números (0-9)

In [ ]:
print(nome2.isalnum())

False

#### isalpha() -> Retorna True se todos os caracteres forem letras do alfabeto (a-z).

In [ ]:
# retorna falso pq tem espaço
print(nome2.isalpha())

False

#### isnumeric() -> Retorna True se todos os caracteres na cadeia de caracteres são numéricos

In [ ]:
print(nome2.isnumeric())

False

#### replace() -> É utilizado para substituir um ou mais trechos em uma string

In [ ]:
# substituir a palavra 'teste' por 'aprovado'
print(nome2.replace('tEste', 'aprovado'))

murilo Oliveira aprovado

#### split() -> É  utilizado para dividir o conteúdo de uma string em uma lista
- 1º param.: string
- 2º param.: indica o caractere utilizado como separador da string
- 3º param.(opcional): representa a quantidade máxima de divisões realizadas

In [ ]:
# padrão é o espaço
print(nome2.split())
print(nome2.split('i'))

['murilo', 'Oliveira', 'tEste']
['mur', 'lo Ol', 've', 'ra tEste']

#### startswith() -> Verifica se a string começa com determinado letra/palavra/texto

In [ ]:
print(nome2.startswith('m'))
print(nome2.startswith('murilo'))
print(nome2.startswith('urilo'))

True
True
False

strip() -> Retira caracteres indesejados dos textos. Por padrão, retira espaços “extras” no início e no final

In [ ]:
nome2 = '   murilo Oliveira aprovado     '
print(nome2)
print(nome2.strip())

   murilo Oliveira aprovado
murilo Oliveira aprovado

upper() -> Coloca o texto todo em letra maiúscula.

In [ ]:
print(nome2.upper())

   MURILO OLIVEIRA APROVADO