# Python - set (conjuntos)

- Sets em Python são mutáveis (pode ser alterado), porém aceitam apenas tipos imutáveis como valor interno.
- Sets são eficientes para remover valores duplicados de iteráveis.
- Não aceitam valores mutáveis;
- Seus valores serão sempre únicos;
- não tem índexes;
- não garantem ordem;
- são iteráveis (for, in, not in).

### Criando um set

In [ ]:
s1 = set() # vazio
s1 = set('MURILO') # com dados(itera sobre a string)
s2 = {'Murilo'}
s3 = {'Murilo', 1, 2, 3, 4}
print(type(s1), s1)
print(type(s1), s2)
print(type(s1), s3)
print(n:=5)

<class 'set'> {'U', 'R', 'I', 'O', 'M', 'L'}
<class 'set'> {'Murilo'}
<class 'set'> {'Murilo', 2, 3, 4, 1}
5

#### Por padrão, set remove valores duplicados

In [ ]:
s1 = {1, 2, 1, 2, 3, 4, 3, 4, 5, 5, 5, 5}
print(s1)

{1, 2, 3, 4, 5}

#### Removendo valores duplicados de uma lista

In [ ]:
l1 = [1, 2, 3, 3, 4, 4, 1, 2, 2, 6]
s1 = set(l1)
l2 = list(s1)
print(type(s1), s1)
print(type(l2), l2)

<class 'set'> {1, 2, 3, 4, 6}
<class 'list'> [1, 2, 3, 4, 6]

#### Iterando sobre o set
- for
- in
- not in

In [ ]:
# verificando se um número existe/não existe no set
# print(3 not in s1)

# iterando com for
s1 = {1, 2, 3, 3, 3, 5, 6, 7, 7, 6}
for numero in s1:
    print(numero)

1
2
3
5
6
7

#### Métodos úteis
- add
- update
- clear
- discard

In [ ]:
# add = adiciona novo valor no set
s1 = set()
s1.add('Murilo')
s1.add(1)
print(s1)

{'Murilo', 1}

In [ ]:
# update = adiciona novo valor(es) no set
s1.update(('joao', 1, 2, 3, 4)) # para adicionar varios valores, precisa enviar como tupla
print(s1)

{'Murilo', 2, 3, 1, 4, 'joao'}

In [ ]:
# clear = limpa(exclui) os valor(es) do set
s1.clear()
print(s1)

set()

In [ ]:
# discard = remove um valor específico do set
print(s1)
s1.discard(4)
s1.discard('joao')
print(s1)

set()
set()

#### Operadores úteis:
- união (|) - Une
- intersecção (&) (intersection) - Itens presentes em ambos
- diferença (-) Itens presentes apenas no set da esquerda
- diferença simétrica (^) - Itens que não estão em ambos

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(f'S1: {s1}\nS2: {s2}\n')
# Une s1 e s2 (Lembrando que sets nao aceita valores duplicados)
s3 = s1 | s2
print('Union |:          ', s3)

# Retorna os itens presentes em ambos os sets
s3 = s1 & s2
print('Intersection &:   ', s3)

# Retorna os itens presentes apenas no set da ESQUERDA
s3 = s1 - s2
s3_ = s2 - s1 
print('Except s1 &:      ', s3)
print('Except s2 &:      ', s3_)

# Retorna itens que não estão presentes em ambos
s3 = s1 ^ s2
print('Dif Symmetric ^:  ', s3)

S1: {1, 2, 3}
S2: {2, 3, 4}

Union |:           {1, 2, 3, 4}
Intersection &:    {2, 3}
Except s1 &:       {1}
Except s2 &:       {4}
Dif Symmetric ^:   {1, 4}

#### Exemplo usando set

In [ ]:
letras = set()
while True:
    letra = input('Digite: ')
    letras.add(letra.lower())

    if 'l' in letras:
        print('Parabéns!')
        break
    print(letras)

Digite: a
{'a'}
Digite: a
{'a'}
Digite: b
{'a', 'b'}
Digite: b
{'a', 'b'}
Digite: l
Parabéns!