# Python - Tuplas
- É uma sequência imutável de valores de qualquer tipo

## Definindo uma tupla

In [3]:
data_engineer = (
    'Python',
    'SQL',
    'Spark',
    'Hadoop',
    'Docker',
    'AWS',
    'GCP'
)

## Exibindo itens da tupla através do índice

In [4]:
print(data_engineer[0])
print(data_engineer[1])
print(data_engineer[2])
print(data_engineer[3])
print(data_engineer[4])
print(data_engineer[5])
print(data_engineer[6])

Python
SQL
Spark
Hadoop
Docker
AWS
GCP

## Exibindo alguns itens da tupla

In [13]:
# Exibe os itens do indice 1 até o 4
print(data_engineer[1:5])

# Exibe os itens do indice 0 até 3
print(data_engineer[:4])

# Exibe os 2 últimos itens da tupla
# Quando é negativo, o índice começa em -1
print(data_engineer[-2])

# Ignora os 2 ultimos itens da tupla
print(data_engineer[:-2])

# Exibe os 2 últimos itens da tupla
print(data_engineer[-2:])

('SQL', 'Spark', 'Hadoop', 'Docker')
('Python', 'SQL', 'Spark', 'Hadoop')
AWS
('Python', 'SQL', 'Spark', 'Hadoop', 'Docker')
('AWS', 'GCP')

## Tuplas são imutáveis

In [14]:
data_engineer[1] = 'Java'

TypeError: 'tuple' object does not support item assignment

## Percorrendo a tupla

In [15]:
for stack in data_engineer:
    print(stack)

Python
SQL
Spark
Hadoop
Docker
AWS
GCP

In [18]:
for cont in range(0, len(data_engineer)):
    print(data_engineer[cont])

Python
SQL
Spark
Hadoop
Docker
AWS
GCP

In [19]:
for i, v in enumerate(data_engineer):
    print(f'{i} => {v}')

0 => Python
1 => SQL
2 => Spark
3 => Hadoop
4 => Docker
5 => AWS
6 => GCP

### Usando sorted

In [20]:
print(sorted(data_engineer))

['AWS', 'Docker', 'GCP', 'Hadoop', 'Python', 'SQL', 'Spark']

## Juntar duas ou mais tuplas
- As tuplas podem ser de tipos de dados diferentes

In [25]:
tupla_a = ('A', 'A', 'B', 'C', 'D', 'D')
tupla_b = ('Cachorro', 'Gato')
tupla_c = tuple(range(10, 100, 10))
tupla_abc = tupla_a + tupla_b + tupla_c

print(tupla_a)
print(tupla_b)
print(tupla_c)
print(tupla_abc)

('A', 'A', 'B', 'C', 'D', 'D')
('Cachorro', 'Gato')
(10, 20, 30, 40, 50, 60, 70, 80, 90)
('A', 'A', 'B', 'C', 'D', 'D', 'Cachorro', 'Gato', 10, 20, 30, 40, 50, 60, 70, 80, 90)

## Contar a quantidade de vezes que um valor aparece

In [30]:
# letra A aparece duas vezes na tupla_abc
tupla_abc.count('A')

2

In [33]:
# Exibe o índice da letra A
tupla_abc.index('A')

0

### Deletando a tupla
- OBS: Não é possível deletar um item da tupla, pois a tupla é `imutável`

In [34]:
del(data_engineer)